.index
  %h1 Open Exit Poll

  Welcome, please choose your address from the list below:

  %p= link_to @address1, search_path(location: @address1)
  %p= link_to @address2, search_path(location: @address2)
  %p= link_to "None, enter my address", enter_address_path
