Who did you vote for?
%ul
  %li=link_to "Hillary", record_vote_path(vote:"Hillary")
  %li=link_to "Bernie", record_vote_path(vote:"Bernie")
  %li=link_to "Rocky", record_vote_path(vote:"Rocky")
  %li=link_to "Other", record_vote_path(vote:"Other")
